<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.teamsalad.mapper.adminMapper">
 
 	<!-- 예시) 게시판 글쓰기 동작  --> 
 	<insert id="create">
 		insert into tbl_board(title,content,writer)
 		values(#{title},#{content},#{writer})
 	</insert>
 
 </mapper>