<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.teamsalad.mapper.R_CustomMapper">
  
  		<!-- 재료 목록 조회 -->
  		<select id="list" resultType="ingredientVO">
  			select *
  			from salad_ingredient
  			where igdt_category = #{igdt_category}
  		</select>
  
  
  </mapper>